.App {
    width: 100%;
    background-color: aqua;
    
}
#user {
  display:flex;
  padding-top: 3rem;
  padding-left: 3rem;
  justify-content: flex-start;
  font-size: larger;
}
#userinfo{
  padding-left: 3rem;
}
#pic img {
width: 20rem;
}
#repos, ul[class] {
  list-style: none;
  padding-left: 3rem;
  margin-top: 1rem;
}

